*.a
*.bz2
*.diff
*.gz
*.la
*.lo
*.o
*.orig
*.patch
*.rej
*~
.deps
.emacs*
/.bootstrap
/ABOUT-NLS
/INSTALL
/aclocal.m4
/am/.gitignore
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/gnu/
/gnulib/
/m4/
/stamp-h1
ChangeLog
Makefile
Makefile.in
